
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Party Invitation</h2>
    <br />
    <br />
    <p>We are going to have a party! Bring Drinks or dont come :)</p>

    <img src="~/Content/dogbluestaffie.jpg" />

    <br />
    <p>And you are invited(if you bring drinks...)</p>

    <div class="btn btn-success">
        @Html.ActionLink("RSVP Now", "rsvpForm")
    </div>
</div>